.external-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9vh;
}

.block-conclusion {
    display: flex;
    height: 90vh;
    width: 900px;
    justify-content: center;
    align-items: center;
}

.p-results {
    font-size: 30px;
}
