.slider {
    position: relative;
    width: 65%;
    height: 400px;
    overflow: hidden;
    border: 1px solid black;
  }
   
.slide {
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
    display: flex;
    justify-content: space-around;
}

.slide-img {
    width: 70%;
    height: 100%;
}

.slide:first-child {
    opacity: 1;
}
   
.slide > p {
    color: black;
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    width: 50%;
}