.slider {
    position: relative;
    width: 90%;
    height: 600px;
    overflow: hidden;
    background: #d8d4d4;
    box-shadow: 1px 3px 14px #2b37d8;
    margin: 20px 0;
    margin-bottom: 100px;
}
   
.slide {
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
    display: flex;
    justify-content: space-around;
}

.slide-img {
    width: 100%;
    height: 100%;
    position: relative;
}

.slide:first-child {
    opacity: 1;
}
   
.slide > p{
    height:auto;
    width: 700px;
    font-size: 22px;
    display: flex;
    line-height: 1.4em;
    padding: 5px 10px;
    position: absolute;
    top: 10px;
    left: 10px;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    text-align: justify;
}

