.vakanc-card {
    display: flex;
    box-shadow: 0 0 5px #e21616;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 320px;
    justify-content: space-around;
    padding: 0 10px;
    margin: 10px 10px ;
    background: #ffffff;
}

.vakanc-card > hr {
    width: 25vh;
}

